USE [master]
GO
/****** Object:  Database [DB_LAPTOP]    Script Date: 14/12/2020 10:31:13 ******/
IF EXISTS (SELECT * FROM SYSDATABASES WHERE NAME = N'DB_LAPTOP') DROP DATABASE [DB_LAPTOP]
GO
CREATE DATABASE [DB_LAPTOP]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DB_LAPTOP].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DB_LAPTOP]
GO
/****** Object:  Table [dbo].[laptops]    Script Date: 14/12/2020 10:31:13 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[laptops](
	[STT] [float] NULL,
	[brands] [nvarchar](255) NULL,
	[brands_code] [float] NULL,
	[product_name] [nvarchar](255) NULL,
	[chip_brands] [nvarchar](255) NULL,
	[chip_speed] [float] NULL,
	[chip_type] [nvarchar](255) NULL,
	[chip_type_code] [float] NULL,
	[ram] [float] NULL,
	[hdd] [float] NULL,
	[ssd] [float] NULL,
	[graphic_card_brand] [nvarchar](255) NULL,
	[graphic_card_model] [nvarchar](255) NULL,
	[graphic_card_model_code] [float] NULL,
	[monitorSize] [float] NULL,
	[price] [float] NULL
) ON [PRIMARY]

GO
INSERT [dbo].[laptops] ([STT], [brands], [brands_code], [product_name], [chip_brands], [chip_speed], [chip_type], [chip_type_code], [ram], [hdd], [ssd], [graphic_card_brand], [graphic_card_model], [graphic_card_model_code], [monitorSize], [price]) VALUES (1, N'Panasonic', 1, N'Toughbook CF-W7', N'Intel', 1.06, N'Core 2 Duo U7500 ', 1, 1, 80, 0, N'Intel', N'960GM', 1, 12.1, 7686.8727)
INSERT [dbo].[laptops] ([STT], [brands], [brands_code], [product_name], [chip_brands], [chip_speed], [chip_type], [chip_type_code], [ram], [hdd], [ssd], [graphic_card_brand], [graphic_card_model], [graphic_card_model_code], [monitorSize], [price]) VALUES (2, N'Dell', 148, N'Precision M6700', N'Intel', 2.6, N'Core i5-3320M ', 7, 2, 320, 0, N'AMD', N'ATI FirePro M6000', 1, 17.3, 9470.381)
INSERT [dbo].[laptops] ([STT], [brands], [brands_code], [product_name], [chip_brands], [chip_speed], [chip_type], [chip_type_code], [ram], [hdd], [ssd], [graphic_card_brand], [graphic_card_model], [graphic_card_model_code], [monitorSize], [price]) VALUES (3, N'HP', 138, N'Pavilion DV3-4105TX', N'Intel', 2.4, N'Core i3-370M ', 3, 2, 320, 0, N'AMD', N'ATI Radeon 512MB', 1, 13.3, 4230.424)
GO
USE [master]
GO
